.container {
  height: 24px;
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.container:not(:last-child) {
  margin-right: 4px;
}

.chipLabel {
  padding: 4px 8px;
  font-size: 0.75rem;
  border-radius: 8px;
  color: #fff;
}

.alert {
  background-color: #d32f2f;
}

.success {
  background-color: #12b564;
}

.confirm {
  background-color: #f57c00;
}
