.container {
  transition: 0.3s;
  min-width: 280px;
  margin: auto;
  box-shadow: 0 8px 40px -12px rgba(20, 40, 60, 0.1);
  padding: 16px;
  text-align: left;
  position: relative;
  background-color: #f4f4f4;
}

.headWrapper {
  margin-bottom: 16px;
}

.titleText {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.descriptionText {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #666;
  margin-bottom: 8px;
}

.selectForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selector::after {
  content: '\2304';
  font-size: 2rem;
  line-height: 20px;
  padding-right: 4px;
}

.selector {
  cursor: pointer;
  padding: 4px 8px;
  display: inline-block;
  flex: 1 1 auto;
  margin-right: 8px;
  border: 1px solid #ccc;
}

.submitButton {
  cursor: pointer;
  padding: 4px 8px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.submitButton:hover {
  background-color: #e9e9e9;
}
